<style>
    .overlay{
        /* background-color:rgb(255, 255, 255); */
        height:50vh;
        background-image: url("https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        border-radius:25px;
        box-shadow:20px 20px 50px 80px rgba(19, 18, 18, 0.6) inset;
       
        
    }
</style>
<div id="latest" class=" pricing-header  px-3 py-3 pt-md-5 pb-md-4 mx-auto  text-center align-items-xl-center">
  <h1 class="display-4 mt-5">Latest Recipes</h1>
  <p>Never forget another recipe!</p>
  <p></p>
</div>

<!-- INNER CARD -->
<div class="d-flex flex-row flex-wrap p-5">
  <div class="p-2">
    <!-- card  -->
    <div class="card" style="width: 18rem;">
     <div class="overlay"></div>
      <h1 class="text-white p-5 card-title position-absolute">Card title</h1>
    </div>
    <!-- card end -->
  </div>
  <div class="p-2">
    <!-- card  -->
    <div class="card" style="width: 18rem;">
        <div class="overlay"></div>
         <h1 class="text-white p-5 card-title position-absolute">Card title</h1>
       </div>
       <!-- card end -->
  </div>
  <div class="p-2">
  <!-- card  -->
  <div class="card" style="width: 18rem;">
    <div class="overlay"></div>
     <h1 class="text-white p-5 card-title position-absolute">Card title</h1>
   </div>
   <!-- card end -->
  </div>
</div>
