
<style>
    .main-container{
        height: 100vh;
        background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-repeat: no-repeat;  
    background-size:cover;  
    }   
.pos{
position:absolute;
top:150;
left:600;
box-shadow:20px 20px 50px 1000px rgba(206, 205, 205, 0.5) inset;
border-radius:25px;
}

@media only screen and (max-width: 1200px) {
    .pos{
    
position:absolute;
top:50;
left:50;
right:50;
}
}

</style>

<!-- main section -->
<div class="position-relative main-container text-right d-flex p-2 m-auto">
    <div class="pos ">
        <h2 class=" display-2  px-5 text-dark">Get Acess to free RECIPES</h2>
        <p class="display-6  p-5 w-65 m-auto">Our mission is to help you live your life to your tastes by empowering you with the most useful information, inspiration, guides, and reviews to help life taste sweeter.</>
        </div>
</div>

